.attribution { position: fixed; bottom: 10px; left: 10px; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
	background: url(./images/bg-stars.svg) 0 0/cover no-repeat, url(./images/pattern-hills.svg) 50% 100%/100% no-repeat, #1e1e2a;
	color: #fff;
	height: 100vh;
	font-family: "Outfit", sans-serif;
	font-size: 15px;
	text-align: center;
	display: grid;
	grid-template-rows: 2fr 4fr 2fr;
	align-items: center;
}
h1 {
	margin: 0;
}
main {
	display: grid;
	grid-template-columns: repeat(4, minmax(70px, 148px));
	align-self: start;
	gap: clamp(16px, 4vw, 32px);
	justify-content: center;
	figure {
		margin: 0;
	}
	figcaption {
		margin-top: 2em;
		text-transform: uppercase;
		color: #8387aa;
	}
}
nav.social {
	display: flex;
	justify-content: center;
	gap: 30px;
	a {
		text-decoration: none;
		transition: filter .5s;
		&:hover {
			filter: saturate(1410%) hue-rotate(95.7deg);
		}
	}
	img {
		display: block;
	}
}
@media (max-width: 475px) {
	body {
		background-position: 0, 73% 100%;
		background-size: cover, auto 30vh;
		grid-template-rows: 3fr 3fr 2fr;
	}
}
